* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: rgb(196, 227, 255);
    display: flex;
    justify-content: center;
}

.joke {
  background-color: #90b790;
  border: 2px solid #90b790;
  border-radius: 30px;
  padding-block: 10px;
  padding-inline: 30px;
  margin: 20px;
}

.setup {
  font-size: 1.2rem;
  font-weight: 700;
}

.punchline {
  font-size: 1.2rem;
  font-style: italic;
}

.comment-list {
  list-style: none;
  text-align: right;
}

.comment-list li {
  margin-bottom: 0.8rem;
}